.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* .App-container {
  background-image: url('src/images/SinglePlantBg1.jpeg');
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* these images a no longer being used right now */
/* img {
  height: 200px;
  width: 200px;
} */

/* .cardbody {
  display:grid;
  grid-template-columns: 100px 100px;
} */

.ptInfo1 {
  display:grid;
  grid-template-columns: 100px 100px;
 
  
}

.ptInfo2 {
  display: flex;
 justify-content: center;
 margin-bottom: 0;
}

.ptInfo3 {
  display: flex;
 justify-content: center;
}

.ptInfo4 {
  display: flex;
 justify-content: center;
}

.PlantCard {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-evenly;
}
  
.plantCardItem {
  width: calc(33.33% - 10px); 
  margin-bottom: 20px; 
  justify-content: center;
}
  
.imgContainer {
  margin-bottom: 10px;
}


/* Nav bar */
  ol, ul {
    list-style: none;
  }
.submit {
  color: aqua;
  background-color: black;
  justify-items: center;
  position: absolute;
  left: 90%;
  transform: translateX(-50%);
}

img {
  height: 190px;
  width: 190px;
  border-radius: 70%;

}

.cardInfo {
  display: flex;
  flex-direction: column;
background: rgba(135, 232, 234, 0.563);border-radius: 10%;
margin-bottom: 20px;

}
.comName {
 display: flex;
 justify-content: center;
}